{% extends 'base.html' %}
{% block title %}Расширенный поиск{% endblock %}
{% block content %}
<h2>Результаты поиска:</h2>
<h3>{{ violation }}</h3>
{% for username, count in violation_users.most_common() %}
{% set user = (users | selectattr('name', 'equalto', username) | list | first) %}
{% if user %}
<div class="my-3">
    <a href="/user/{{ user.id }}">{{ user.surname }} {{ user.name }} {{ user.last_name }}</a> - {{ count }} нарушений
</div>
{% endif %}
{% endfor %}

<form method="get" class="d-flex ms-auto" action="/get_search">
    <input class="form-control me-2" type="search" name="query" placeholder="Поиск" aria-label="Поиск">
    <button class="btn btn-outline-success" type="submit">Поиск</button>
</form>
{% endblock %}