<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
   <h2>Авторизуйтесь</h2>
    <form action="/auth/token" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Login</button>
    </form>
    <script>
        document.getElementById('loginForm').addEventListener('submit', async function(event) {
            event.preventDefault();
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            const response = await fetch('/token', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    'username': username,
                    'password': password
                })
            });

            if (response.ok) {
                const data = await response.json();
                const token = data.access_token;
                // Сохраните токен в localStorage или sessionStorage
                localStorage.setItem('token', token);
                alert('Login successful!');
            } else {
                alert('Login failed!');
            }
        });
    </script>
</body>
</html>