{% extends 'base.html' %}
{% block title %}Расширенный поиск{% endblock %}
{% block content %}
<h1>Расширенный поиск</h1>
<div class="container my-5">
    <div class="row">
        {% for violation_key, violation_value in violations.items() %}
        <div class="col-md-6">
            <a href="/advanced_search/{{ violation_key }}">{{ violation_value }}</a>
        </div>
        {% endfor %}
    </div>
    <p class="h3 mt-5">Поиск по ключевым словам</p>
    <div class="row mt-3">
        <form method="get" class="d-flex ms-auto" action="/get_search">
            <input class="form-control me-2" type="search" name="query_discriptions" placeholder="Введите  ключевые слова" aria-label="Поиск">
            <button class="btn btn-outline-success" type="submit">Поиск</button>
        </form>
    </div>
</div>
{% endblock %}