<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Данные работника</title>
</head>
<body>
    <h2>Данные работника</h2>
    <p>Имя: {{ user.username }}</p>
    <p>Адрес: {{ user.address }}</p>
    <p>Телефон: {{ user.phone_number }}</p>
    <p>Департамент: {{ department }}</p>
    <p>Дата принятия на работу: {{ user.hired }}</p>
    {% if user.dismissal %}
    <p>Дата увольнения с работы: {{ user.dismissal }}</p>
    {% endif %}
    <hr>
    <h2>Данные нарушения</h2>
    <p>Форма нарушения: {{ type_violation }}</p>
    <p>Дата нарушения: {{ violation.date_violation }}</p>
    <p>Суть нарушения: {{ violation.description }}</p>


</body>
</html>