{% extends 'base.html' %}
{% block title %}Главная страница{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            {% for department, employees in users.items() %}
            <div class="col-md-4 mb-3"> <!-- Делим контейнер на три столбца -->
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenu{{ loop.index }}" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ department }}
                    </button>
                    <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenu{{ loop.index }}">
                        {% for employee in employees %}
                        <li>
                            <a class="dropdown-item" href="/user/{{ employee.id }}">
                                {{ employee.name }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="{{ url_for('static', path='index_js.js') }}"></script>
{% endblock %}
