{% extends 'base.html' %}
{% block title %}LjДобавить нарушение{% endblock %}
{% block content %}

<h2>Добавить нарушение</h2>
<h3>{{ user.username }}</h3>
<div class="form-container">
    <form method="POST" action="get_input_violation/{{ user.id }}">
        <div class="form-group">
            <label for="type_violation" class="form-label">Форма нарушения:</label>
            <select id="type_violation" class="form-select" name="type_violation">
                <option value="Access_mode" selected>Пропускной режим</option>
                <option value="Information_security">Информационная безопасность</option>
                <option value="Work_schedule">Трудовой распорядок</option>
                <option value="Other">Другое</option>
            </select>
        </div>
        <div class="form-group">
            <label for="date_violation" class="form-label">Дата нарушения:</label>
            <input type="date" class="form-control" id="date_violation" name="date_violation">
        </div>
        <div class="form-group">
            <label for="description" class="form-label">Суть нарушения:</label>
            <textarea class="form-control" rows="12" cols="43" id="description" name="description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Отправить</button>
    </form>
</div>
<h3>Загрузить файл</h3>
<form method="POST" action="upload_file/{{ user.id }}" enctype="multipart/form-data">
    <div class="form-group">
        <label for="uploaded_file" class="form-label">Загрузить файл:</label>
        <input type="file" class="form-control" id="uploaded_file" name="uploaded_file">
    </div>
    <button type="submit" class="btn btn-secondary mt-3">Загрузить файл</button>
</form>
{% endblock %}