{% if is_admin %}
    {% extends 'admin_base.html' %}
{% else %}
    {% extends 'base.html' %}
{% endif %}

{% block title %}Информация о сотруднике{% endblock %}
{% block content %}

<div class="container my-5 border p-3 rounded mb-3">
    <h1 class="mb-4">Информация о сотруднике</h1>
    <!-- Информация о сотруднике -->
    <div class="row mb-3">
        <div class="col-md-4">
            <h5>Фамилия, Имя, Отчество:</h5>
            <h6>{{ user.surname }} {{ user.name }} {{ user.last_name }}</h6>
        </div>
    </div>
    <div class="mb-3">
        <h5>Департамент:</h5>
        <p>{{ user.department.name.value }}</p>
    </div>
    {% if user.hired %}
    <div class="mb-3">
        <h5>Дата принятия на работу:</h5>
        <p>{{ user.hired }}</p>
    </div>
    {% elif user.dismissal %}
    <div class="mb-3">
        <h5>Дата увольнения с работы:</h5>
        <p>{{ user.dismissal }}</p>
    </div>
    {% endif %}
    <!-- Нарушения -->
    <h2 class="mt-4">Нарушения</h2>
    {% for violation in user.violations %}
    {% if violation.date_violation%}
    <div id="violations">
        <div class="violation-item border p-3 rounded mb-3">
            <h5>Форма нарушения:</h5>
            <p>{{ violation.type_violation.value }}</p>
            <h5>Дата нарушения:</h5>
            <p>{{violation.date_violation.strftime('%Y-%m-%d')}}</p>
            <h5>Суть нарушения:</h5>
            <p>{{violation.description}}</p>
        </div>
    </div>
    {% else %}
    <div class="violation-item ">
        <h5>Нарушения не найдены.</h5>
    </div>
    {% endif %}
    {% endfor %}
    <h2 class="mt-4">Загруженные файлы</h2>

    <div id="files">

        <div class="violation-item border p-3 rounded mb-3">
            {% for file in user.files %}
            <p>
                <a href="/static/files/{{ file.filename }}" download>{{ file.filename }}</a>
            </p>
            {% endfor %}
        </div>

    </div>


</div>
{% if is_admin %}
<div class="container d-flex justify-content-between mb-5">
    <a href="/input_violation/{{ user.id }}" class="btn btn-outline-primary d-inline-flex align-items-center">
        <i class="bi bi-plus-circle me-2"></i> Добавить нарушение
    </a>
    <form action="/delete_user/{{ user.id }}" method="POST" class="d-inline"
          onsubmit="return confirm('Вы уверены, что хотите удалить сотрудника?');">
        <button type="submit" class="btn btn-outline-danger d-inline-flex align-items-center">
            <i class="bi bi-trash me-2"></i> Удалить сотрудника
        </button>
    </form>
</div>
{% endif %}
{% endblock %}